:root {
   
    --chat--color--primary: #d7002f;             
    --chat--color--primary-shade-50: #ff3b55;    
    --chat--color--primary--shade-100: #a1001f;  

    --chat--color--secondary: #ffffff;           
    --chat--color-secondary-shade-50: #f2f2f2;  

    --chat--color-white: #ffffff;
    --chat--color-light: #121111;                
    --chat--color-light-shade-50: #222222;      
    --chat--color-light-shade-100: #121111;     

    --chat--color-medium: #555555;              
    --chat--color-dark: #121111;                
    --chat--color-disabled: #777980;           
    --chat--color-typing: #d7002f;             

   
    --chat--spacing: 1rem;
    --chat--border-radius: 0.5rem;
    --chat--transition-duration: 0.2s;

   
    --chat--window--width: 400px;
    --chat--window--height: 500px;

   
    --chat--header-height: auto;
    --chat--header--padding: var(--chat--spacing);
    --chat--header--background: #121111;
    --chat--header--color: var(--chat--color-white);
    --chat--header--border-top: none;
    --chat--header--border-bottom: none;
    --chat--heading--font-size: 1.8em;
    --chat--subtitle--font-size: 0.95em;
    --chat--subtitle--line-height: 1.6;

   
    --chat--textarea--height: 50px;
    --chat--textarea--background: #121111;
    --chat--textarea--color: #121111;
    --chat--textarea--placeholder-color: black;

   
    --chat--message--font-size: 1rem;
    --chat--message--padding: var(--chat--spacing);
    --chat--message--border-radius: var(--chat--border-radius);
    --chat--message-line-height: 1.6;

    --chat--message--bot--background:#121111;
    --chat--message--bot--color: #ffffff;
    --chat--message--bot--border: none;

    --chat--message--user--background: var(--chat--color--primary);
    --chat--message--user--color: #ffffff;
    --chat--message--user--border: none;

    --chat--message--pre--background: #121111;

   
    --chat--toggle--background: #121111;
    --chat--toggle--hover--background: var(--chat--color--primary-shade-50);
    --chat--toggle--active--background: var(--chat--color--primary--shade-100);
    --chat--toggle--color: #ffffff;
    --chat--toggle--size: 64px;
}
